Django
djangorestframework
django-cors-headers

langchain
langchain-community
langchain-core
langchain-openai
langchain-huggingface

sentence-transformers
faiss-cpu

openai
youtube-transcript-api
tqdm

python-dotenv
gunicorn
